/******** секта bootstrap ******/
@import"bootstrapgrid";

/******** framework *******/
@import"otherstyles";

/******** header footer *******/
@import"headerfooter";


//**************  main-screen  **************//

.main-screen {
  background: url(../img/bg.png) top center /cover no-repeat;
  overflow: hidden;
  padding: 100px 0 64px;
  .nav {
    z-index: 100;
    padding: 40px 0;
    position: absolute;
    width: 100%;
    height: 75px;
    top: 0;
    .header-logo {
      display: block;
      img {
        width: 196px;
        height: auto;
      }
    }
    .header-logo__sticky {
      display: none;
      justify-content: flex-start;
      z-index: 1000;
    }
    .header-logo__mob {
      display: none;
      justify-content: flex-start;
      z-index: 1000;
    }
    .header-button {
      a {
        font-size: 18px;
      }
      display: flex;
      justify-content: flex-end;
      z-index: 1000;
    }
    .line_button {
      display: none;
      cursor: pointer;
      color: #FF622D;
      padding: 8px 32px;
      vertical-align: middle;
      border-radius: 4px;
      border: 1px solid #FF622D;
      font-weight: 400;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out
    }
    .line_button:hover {
      background: #E84E0F;
      border: 1px solid #E84E0F;
      color: #fff;
    }
  }
  .sticky {
    position: fixed !important;
    z-index: 333 !important;
    width: 100%;
    margin-top: 0;
    .header-logo {
      display: none;
    }
    .header-logo__sticky {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      z-index: 1000;
      margin-left: -15px;
    }
  }
  .sticky.nav {
    background: #fff;
    padding: 17px 0;
    -webkit-box-shadow: rgba(27, 39, 12, .1) 0 1px 3px;
    box-shadow: rgba(27, 39, 12, .1) 0 1px 3px;
    .line_button {
      display: inline-block;
    }
  }
  .content {
    padding-top: 60px;
    margin: 0 auto;
  }
  .main-screen__pic {
    position: relative;
    .blue-ball,
    .green-ball {
      position: absolute;
    }
    .blue-ball {
      transform: rotate(30deg);
      left: -230px;
      top: 30px;
      -webkit-animation: spin 0.8s 1 linear;

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(320deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
    }
    .green-ball {
      transform: rotate(30deg);
      right: -260px;
      bottom: -220px;
      -webkit-animation: spin 0.8s 1 linear;

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(320deg);
        }
        100% {
          -webkit-transform: rotate(390deg);
        }
      }
    }
  }
  .main-screen__text {
    z-index: 2;
    text-align: center;
    position: relative;

    h1 {
      text-align: center;
    }
    .subtitle {
      margin-bottom: 48px;
      line-height: 130%;
      color: #fff;
    }
  }
  .speakers {
    margin: 88px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .speaker {
      img {
        width: 130px;
        height: auto;
        margin-bottom: 32px;
      }
      .speaker__text {
        h6 {
          color: #fff;
          margin-bottom: 8px;
        }
        p {
          color: #fff;
          margin-bottom: 0;
        }
      }
    }
  }
}


/*************** text-screen ***************/

.text-screen {
  padding: 80px 0 96px;
  text-align: left;
  position: relative;
  overflow: hidden;
  .shape {
    position: absolute;
    top: 150px;
    right: -156px;
  }
  .text-screen__text {
    margin-bottom: 80px;
    h2 {
      margin-bottom: 8px;
      text-align: inherit;
    }
    p.subtitle {
      margin-bottom: 16px;
      span {
        font-weight: 700;
      }
    }
    p.subtitle.last {
      margin-bottom: 64px;
    }
    p.subtitle.guest {
      margin-bottom: 0px;
    }
    h6 {
      margin-bottom: 16px;
      text-align: inherit;
    }
    ul {
      margin-bottom: 42px;
      li {
        font-size: 21px;
        span { font-weight: 700; }
        ul {
          margin-bottom: 0px;
          li {
            margin-bottom: 0;
            position: relative;
            &:before {
              background: transparent;
              border: 1px solid #000;
            }
          }
        }
      }
    }
  }
  h2 {
    margin-bottom: 24px;
    text-align: inherit;
  }
  .form {
    text-align: left;
    .mktoForm {
      font-family: Inter, Arial, sans-serif !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .mktoFormRow {
        width: 100% !important;
        .mktoFormCol, .mktoFieldWrap {
          float: none;
          .mktoField {
            display: block;
            flex-shrink: 1;
            width: 100% !important;
            max-width: 390px;
            padding: 16px 24px !important;
            border-radius: 6px;
            border: 1px solid #D1D4DB;
            font-size: 16px;
            color: #898D9A;
            overflow: hidden !important;
            &:hover {
              border: 1px solid #FF642D;
            }
          }
          #FirstName {
            background-position: 92% 50% !important;
          }
          #InferredCountry {
            background: url(../img/arrow.svg) no-repeat 100% 0%;
            overflow: hidden !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
          }
          .mktoOffset, .mktoGutter {
            width: 0px !important;
          }
          .mktoLabel {
            display: none;
          }
          .mktoLogicalField {
            width: 13px !important;
            margin-right: 8px;
            position: relative;
            top: 5px;
          }
          .mktoCheckboxList {
            padding: 0px;
            width: 14px;
            height: 14px;
          }
          #mail_education.mktoField {
            width: 14px !important;
            height: 14px !important;
          }
        }
      }
      .mktoFormRow:nth-of-type(4) {
        .mktoFormCol {
          .mktoFieldWrap {
            display: block;
            flex-shrink: 1;
            border-radius: 6px;
            border: 1px solid #D1D4DB;
            max-width: 390px;
            overflow: hidden !important;
            &:hover {
              border: 1px solid #FF642D;
            }
            select {
              border: none !important;
              width: 105% !important;
              max-width: 105% !important;
              background: url(../img/select.svg) no-repeat, #ffffff;
              background-position: 90% 50%;
              height: 56px;
              &:hover {
                border: none !important;
              }
              &:active {
                border: none !important;
              }
              &:visited {
                border: none !important;
              }
            }
          }
        }
      }
      .mktoFormRow:nth-of-type(5) {
        order: 6 !important;
        -webkit-order: 6 !important;      
      }
      .mktoFormRow:nth-of-type(6) {
        margin-top: 16px;
        margin-bottom: 12px;
        display: flex;
        order: 7;
        -webkit-order: 7;
        .mktoFormCol {
          margin-bottom: 0px !important;
          &:first-of-type {
            width: 100%;
          }
          &:nth-of-type(2) {
            width: 100%;
            .mktoFieldWrap {
              width: 100%;
              .mktoHtmlText, .mktoHasWidth {
                width: 100% !important;
                color: #898D9A;
              }
            }
          }
          .mktoFieldWrap {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            .mktoLogicalField {
              padding: 0px;
            }
            .mktoLabel {
              display: flex;
              padding: 2px 0px 0px 8px;
              color: #898D9A;
              font-size: 13px;
              font-family: "Inter", Arial, sans-serif;
              font-weight: 400;
              width: 390px !important;
              line-height: 140% !important;
              .mktoAsterix {
                display: none;
              }
            }
            input.mktoField {
              padding: 0px;
              position: absolute;
              z-index: -1;
              opacity: 0;
              left: 0;
            }
            input.mktoField+label {
              display: inline;
              align-items: center;
              user-select: none;
              font-size: 12px;
              line-height: 150%;
              color: #898D9A;
            }

            input.mktoField+label::before {
              content: '';
              display: inline-block;
              width: 18px;
              height: 18px;
              // flex-shrink: 0;
              // flex-grow: 0;
              border: 1px solid #adb5bd;
              border-radius: 2px;
              margin-right: 12px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 50% 50%;
              position: relative;
              top: -3px;
              margin-left: -18px;
              
            }
            input.mktoField:checked+label::before {
              border-color: #FF642D;
              background-color: #FF642D;
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
            /* стили при наведении курсора на checkbox */
            input.mktoField:not(:disabled):not(:checked)+label:hover::before {
              border-color: #FF642D;
            }
            /* стили для активного состояния чекбокса (при нажатии на него) */
            input.mktoField:not(:disabled):active+label::before {
              background-color: #FF642D;
              border-color: #FF642D;
            }
            /* стили для чекбокса, находящегося в фокусе */
            input.mktoField:focus+label::before {
              box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
            /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
            input.mktoField:focus:not(:checked)+label::before {
              border-color: #FF642D;
            }
            /* стили для чекбокса, находящегося в состоянии disabled */
            input.mktoField:disabled+label::before {
              background-color: #e9ecef;
            }
          }
        }
      }
      .mktoFormRow:nth-of-type(7) {
        order: 8 !important;
        -webkit-order: 8 !important;
        .mktoHtmlText {
          color: #898D9A;
          width: 100% !important;
        }
      }
      .mktoFormRow:nth-of-type(8) {
        order: 5 !important;
        -webkit-order: 5 !important;
      }

      .mktoButtonRow {
        order: 8 !important;
        -webkit-order: 8 !important;
      }
      .mktoError {
        .mktoErrorArrow {
          background-color: #171A22 !important;
          border: none !important;
        }
        .mktoErrorMsg {
          background-color: #171A22 !important;
          background-image: linear-gradient(#171A22 43%, #171A22 100%);;
          border: none !important;
          text-shadow: none !important;
          box-shadow: none !important;
        }
      }

      .mktoButtonRow {
        width: 100% !important;
        margin-top: 24px;
        .mktoButtonWrap {
          margin: 0 auto !important;
          width: 100% !important;
          .mktoButton {
            font-family: "Inter", Arial, sans-serif !important;
            width: 100%;
            max-width: 390px;
            height: 56px;
            line-height: 56px;
            font-size: 18px;
            font-weight: 400;
            padding: 0 72px;
            background-color: #FF622D;
            background-image: linear-gradient(to bottom, #FF622D, #FF622D);
            border: none;
            color: #fff;
            border-radius: 6px;
            text-align: center;
            display: inline-block;
            transition: 0.3s !important;
            &:hover {
              background-color: #B23300;
              background-image: linear-gradient(to bottom, #B23300, #B23300);
              transition: 0.3s !important;
            }
            &:active {
              background: #7E1E00;
              background-image: linear-gradient(to bottom, #7E1E00, #7E1E00);
            }
          }
        }
      }
    }
  }
}


/*************** размеры страницы ***************/
@media screen and (min-width: 992px) {
  .text-screen {
    .text-screen__text {
      ul {
        margin-bottom: 64px;
        li { 
          &:before {
            width: 7px;
            height: 7px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1920.98px) {

}

@media screen and (max-width: 1439.98px) {

}

@media screen and (max-width: 1199.98px) {
  .main-screen {
    .content {
      .main-screen__pic {
        .blue-ball {
          left: -296px;
          top: -190px;
          width: 513px;
          height: auto;
        }
        .green-ball {
          right: -310px;
          bottom: -250px;
          width: 530px;
          height: 530px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024.98px) {
  .main-screen {
    br {
      display: none;
    }
  }
  .text-screen {
    padding: 80px 0 96px;
    text-align: left;
    position: relative;
    overflow: hidden;
    .shape {
      position: absolute;
      top: 340px;
      right: -280px;
    }
    .text-screen__text {
      margin-bottom: 80px;
      h2 {
        margin-bottom: 8px;
        text-align: inherit;
      }
      p.subtitle {
        margin-bottom: 16px;
        span {
          font-weight: 700;
        }
      }
      p.subtitle.last {
        margin-bottom: 64px;
      }
      p.subtitle.guest {
        margin-bottom: 0px;
      }
      h6 {
        margin-bottom: 16px;
        text-align: inherit;
      }
      ul {
        margin-bottom: 64px;
        li { 
          font-size: 21px;
        }
      }
    }
    h2 {
      margin-bottom: 24px;
      text-align: inherit;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .main-screen {
    padding: 56px 0 64px;
    .nav {
      padding-top: 25px;
      padding-bottom: 25px;
      .header-logo {
        display: block;
      }
      .header-button {
        a {
          font-size: 18px;
        }
        display: none;
      }
      .line_button {
        padding: 8px 16px;
      }
    }
    .sticky {
      .header-logo,
      .header-logo__sticky {
        display: none;
      }
      .header-logo__mob {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        z-index: 100;
        img {
          display: inline-block;
          padding-top: 8px;
        }
      }
      .header-button {
        display: flex;
        justify-content: flex-end;
      }
    }
    .speakers {
      margin-top: 72px;
      .speaker {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        img {
          margin-bottom: 0px;
        }
        .speaker__text {
          margin-left: 32px;
          text-align: left;
          h6 {
            text-align: inherit;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .main-screen {
    .content {
      .main-screen__pic {
        .blue-ball {
          top: -170px;
          left: -250px;
          width: 350px;
          height: auto;
        }

        .green-ball {
          right: -250px;
          bottom: -160px;
          width: 380px;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .main-screen {
    padding: 24px 0 56px;
    .content {
      padding-top: 80px;
      br {
        display: none !important;
      }
    }
    .speakers {
      margin-top: 56px;
      .speaker {
        display: flex;
        align-items: flex-start;
        margin-bottom: 32px;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }

  .text-screen {
    padding: 64px 0 80px;
    .shape {
      width: 700px;
      height: auto;
      top: 270px;
      right: -170px;
    }
    .text-screen__text {
      margin-bottom: 80px;
      h2 {
        margin-bottom: 8px;
        text-align: inherit;
      }
      p.subtitle {
        margin-bottom: 12px;
      }
      p.subtitle.last {
        margin-bottom: 48px;
      }
      p.subtitle.guest {
        margin-bottom: 0px !important;
      }
      h6 {
        margin-bottom: 12px;
      }
      ul {
        li { font-size: 18px; }
      }
    }
    h2 {
      margin-bottom: 24px;
      text-align: inherit;
    }
    .form {
      .mktoForm {
        .mktoButtonRow {
          .mktoButtonWrap {
            .mktoButton {
              display: inline-block;
              padding: 0 16px;
              height: 60px;
              line-height: 60px;
              font-size: 20px;  
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480.98px) {
  .mktoForm input[type=url], .mktoForm input[type=text], .mktoForm input[type=date], .mktoForm input[type=tel], .mktoForm input[type=email], .mktoForm input[type=number], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
    height: auto !important;
  }
  .mktoForm {
    .mktoFormRow:nth-of-type(8) {
      .mktoFormCol {
        .mktoFieldWrap {
          a {
            padding: 0 !important;
          }  
        }
      }
    }
  }
}

@media screen and (max-width: 425.98px) {
  .main-screen {
    padding-top: 24px;
    margin-bottom: 0px;
    .header-logo {
      .h-logo {
        width: 180px;
        height: auto;
      }
    }
    .content {
      padding-top: 80px;
    }
  }
}

@media screen and (max-width: 375.98px) {
  .main-screen {
    background-position-x: -290px;
    .content {
      .main-screen__pic {
        .blue-ball {
          top: -104px;
          left: -140px;
          width: 230px;
          height: auto;
        }
        .green-ball {
          right: -158px;
          bottom: -85px;
          width: 240px;
          height: auto;
        }
      }
    }
  }
  .text-screen {
    padding: 48px 0 80px;
    .shape {
      width: 600px;
      height: auto;
      top: 270px;
      right: -200px;
    }
    .text-screen__text {
      margin-bottom: 56px;
      p.subtitle {
        font-size: 16px;
      }
      p.subtitle.last {
        margin-bottom: 40px;
      }
      h6 {
        font-size: 16px;
      }
      ul {
        li {
          font-size: 16px;
        }
      }
    }
    h2 {
      margin-bottom: 24px;
      text-align: inherit;
    }
    .form {
      .mktoForm {
        .mktoFormRow:nth-of-type(7) {
          max-width: 300px !important;
          .mktoFormCol {
            .mktoFieldWrap {
              .mktoLabel {
                max-width: 300px !important;

              }
            }
          }
        }
        .mktoFormRow:nth-of-type(8) {
          max-width: 300px !important;
          .mktoHtmlText {
            width: auto !important;
          }
        }
      }
    }  
  }
}

@media screen and (max-width: 320.98px) {
  .main-screen {
    .content {
      .main-screen__pic {
        .blue-ball {
          left: -170px;
        }
      }
    }
  }

  .text-screen {
    .form {
      .mktoForm {
        .mktoFormRow:nth-of-type(7) {
          .mktoFormCol {
            .mktoFieldWrap {
              .mktoLabel {
                max-width: 260px !important;

              }
            }
          }
        }
      }
    } 
  }
}

// on success popup
.on-success-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #010003cc;
  display: none;
  padding: 60px 14px;
  overflow-y: scroll;
  box-sizing: border-box;

  &.active {
    display: flex;
    justify-content: center;
  }

  &_content {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 50px 22px 40px 22px;
    height: fit-content;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 100%;
    max-width: 570px;

    @media (min-width: 992px) {
      padding: 50px 76px 64px 76px;
      border-radius: 20px;
      font-size: 18px;
    }
  }

  &_close {
    position: absolute;
    right: 10px;
    top: 10px;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    width: 32px;
    height: 32px;
    padding: 0;
  }

  &_title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 4px;
  
    @media (min-width: 992px) {
      font-size: 32px;
      margin-bottom: 12px;
    }
  }
}

.body-noscroll {
  overflow: hidden !important;
}


